.sourdough-starter-jar {
    z-index: 1;
    position: relative;
    width: 348px;
}

.starter-jar {
    z-index: 0;
}

.starter-jar-contents {
    z-index: -1;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 95px 95px;
    width: 340px;
    left: 4px;
    bottom: 10px;
    overflow: clip;
}

.starter-water {
    content: "";
    height: 100px;
    background-color: #40a5f2;
}

.starter-flour {
    content: "";
    height: 100px;
    background-color: white;
}

.starter-fresh {
    content: "";
    background-color: #ffeac8;
    transition-property: height;
    transition-duration: 3s;
}

.starter-bubbly {
    content: "";
    background-color: #ffeac8;
    transition-property: height;
    transition-duration: 3s;
}