.blogs-list {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.blog-link {
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  gap: 8px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }

  &:hover {
    border: 1px solid darkgray;
  }
}

.blog-link__img-centered {
  object-position: center !important;
}

.blog-link__title {
  color: black;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-link__date {
  color: grey;
  text-align: right;
}

.blog-link__wrapper {
  text-decoration: none;
}


.subscribe {
  margin: 24px auto;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
}

.subscribed {
  margin: 24px auto;
  height: 30px;
  width: 400px;
  text-wrap: balance;
  text-align: center;
}

.subscribe__input {
  width: 200px;
  height: 20px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 4px 8px;
}

.subscribe__button {
  height: 30px;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .blogs-list {
    grid-template-columns: 1fr;
  }
}