.photog {
  margin-left: 16px;
  margin-right: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px
}

.photo {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .photog {
    grid-template-columns: repeat(1, 1fr);
  }
}
