.blogs-wrapper {
  margin-top: 20px;
  padding: 40px 80px;
  background-color: white;
  font-family: monaco;
}

.blog-photos {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  img {
    width: 200px;
    height: auto;
  }
}

.blog-photos-bikepacking {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  img {
    width: 300px;
    height: auto;
    object-fit: cover;
  }
}


.blog-registered {
  font-size: 80%;
  vertical-align: top;
}

