.subpage-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    --lightest-blue: rgb(223, 235, 245);
    --lightest-grey: rgb(247, 253, 255);
    --light-blue: rgb(200, 224, 245);
    --medium-blue: rgb(151, 196, 236);
    --dark-blue: rgb(56, 118, 189);
    --darker-blue: rgb(14, 0, 87);
}

.navbar {
    height: 48px;
    position: sticky;
    width: 100%;
    background-color: #28487d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-home img {
    height: 36px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;

}

.navbar-home:hover {
    filter: drop-shadow(2px 2px 2px white);
}

.content {
    height: calc(100% - 48px);
    width: 100%;
    overflow-y: auto;
    background-image: repeating-linear-gradient(to bottom, transparent, transparent 5px, #28487d 5px, #28487d 10px), repeating-linear-gradient(to right, #617ca2, #617ca2 5px, #28487d 5px, #28487d 10px)
}

.subpage {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    overflow-y: auto;
    background-color: #617ca2;
}
